<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="SolarMax.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup><userSettings>
        <SolarMax.Properties.Settings>
            <setting name="ConstellationMode" serializeAs="String">
                <value>LinesAndCaptions</value>
            </setting>
            <setting name="ProjectionMode" serializeAs="String">
                <value>Cylindrical</value>
            </setting>
            <setting name="ShowEclipticGrid" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowEquatorialGrid" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowLocalGrid" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ViewMode" serializeAs="String">
                <value>Ecliptic</value>
            </setting>
            <setting name="ShowInstruments" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowHelp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CaptionMode" serializeAs="String">
                <value>Auto</value>
            </setting>
            <setting name="ShowData" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MinStarBrightness" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="SurfaceLongitude" serializeAs="String">
                <value>-2.1377762305788766</value>
            </setting>
            <setting name="SurfaceLatitude" serializeAs="String">
                <value>0.65663164969475551</value>
            </setting>
            <setting name="UseAltConstellationShapes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WireFrameBodyRender" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DisplayTimeUTC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HighQualityRender" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FullScreen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultViewTarget" serializeAs="String">
                <value>Moon</value>
            </setting>
            <setting name="ScreenBounds" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
            <setting name="HighlightSunlitAreas" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowConstellationBoundaries" serializeAs="String">
                <value>False</value>
            </setting>
        </SolarMax.Properties.Settings>
    </userSettings>
</configuration>
